// lin-height

.text-ls-2 {
  letter-spacing: 2px;
}

.lh-64.app-label {
  line-height: var(--lh-64);
}

.lh-44.app-label {
  line-height: var(--lh-44);
}

.lh-36.app-label {
  line-height: var(--lh-36);
}

.lh-30.app-label {
  line-height: var(--lh-30);
}

.lh-25.app-label {
  line-height: var(--lh-25);
}

.lh-24.app-label {
  line-height: var(--lh-24);
}

.lh-18.app-label {
  line-height: var(--lh-18);
}

.lh-16.app-label {
  line-height: var(--lh-16);
}

.lh-15.app-label {
  line-height: var(--lh-15);
}

.lh-20.app-label {
  line-height: var(--lh-20);
}

.lh-normal.app-label {
  line-height: var(--lh-normal);
}
.font-secondary {
  font-family: var(--wm-font-family-secondary);
}
.font-20 {
  font-size: var(--wm-font-20);
}
.list-item-icon .app-icon {
  font-size: var(--wm-h2-font-size);
  width: 24px;
  height: 24px;
  color: var(--wm-color-secondary);
  font-weight: 500;
}

.btn-transparent.text-danger .btn-caption {
  border-bottom: 1px solid;
  padding: 1px 2px;
}
.btn.app-button.btn-md {
  min-height: var(--wm-btn-height-md);
  border-radius: 30px;
}

.wm-scroll-content.app-page-content {
  max-height: ~"calc(100vh - 170px)";
  overflow: auto;
}

//to fix the style of the icon
.fa-lg {
  line-height: var(--wm-line-height);
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

//form-group styles which is used in the form or outside the form
.form-group {
  .control-label {
    font-weight: var(--wm-font-weight-medium);
  }
}

//To fix the alignmet style issue in pages liek artifacts, artifactTypes, spaces etc
.app-livelist {
  &.list-card {
    margin: 0 -8px;
  }
}

//This is used to show the list of templates in the home page, editArtifact and defineArtifact pages
.app-livelist {
  &.list-template-card {
    .list-group {
      .app-list-item {
        border-radius: var(--border-radius-small);
        margin: var(--wm-space-1) 0;
        > .app-container {
          .app-container:first-child {
            background-color: #f5f5f5;
            height: 145px;
            padding: var(--wm-space-3);
            border-radius: var(--border-radius-small) var(--border-radius-small)
              0 0;
          }
          .app-container:last-child {
            text-align: center;
            padding: var(--wm-space-3);
            .app-label {
              color: var(--wm-color-dark);
              font-weight: var(--wm-font-weight-semibold);
            }
          }
        }
        &.active {
          border: 1px solid var(--wm-color-secondary);
          > .app-container {
            .app-container:first-child {
              background-color: var(--wm-color-secondary-10);
            }
          }
        }
      }
    }
  }
}

//DefineArtifact Page
.app-container {
  &.panel {
    background-color: var(--wm-btn-contrast-white);
    padding: var(--wm-space-6) var(--wm-space-7);
    .border-corner {
      display: none;
    }
    &.active-border {
      border: 2px solid var(--wm-color-secondary);
      border-radius: 0;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12),
        0px -1px 2px 0px rgba(35, 136, 255, 0.24) inset,
        0px 0px 0px 0px rgba(35, 136, 255, 1) inset,
        0px 0px 32px 0px rgba(99, 102, 241, 0.16) inset;
      // panel active border corner
      .border-corner {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 2px solid var(--wm-color-secondary);
        z-index: 99;
      }
      .btl {
        top: -6px;
        left: -6px;
      }
      .btr {
        top: -6px;
        right: -6px;
      }
      .bbl {
        bottom: -6px;
        left: -6px;
      }
      .bbr {
        bottom: -6px;
        right: -6px;
      }
    }
  }
}

.btn-row.app-grid-row .btn,
.btn-row.app-grid-row .app-switch .btn {
  padding: 12px;
  width: auto;
}

.banner-wrapper {
  .banner-img {
    width: 100%;
    height: var(--wm-banner-height);
  }
  .banner-icon-wrapper {
    margin-top: -74px;
    padding: var(--wm-space-8);
    .banner-icon {
      height: var(--wm-banner-icon-size);
      width: var(--wm-banner-icon-size);
      border: 2px solid var(--wm-btn-contrast-white);
      border-radius: var(--border-radius-small);
    }
  }
}

.title-action-wrapper {
  .highlight-action-container {
    display: inline-flex;
    padding: 8px 12px;
    font-size: var(--wm-h6-font-size);
    font-family: var(--wm-font-family-secondary);
    background-color: transparent;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--wm-separator-color);
    + .app-container {
      margin-left: 8px;
    }
    .app-icon-wrapper {
      .app-icon {
        font-size: 14px;
        color: rgba(151, 151, 151, 1);
      }
      + .app-label {
        margin-left: 6px;
      }
    }
    .app-label + .app-icon-wrapper {
      margin-left: 6px;
    }
    &.git {
      color: rgba(29, 29, 32, 1);
      .app-icon-wrapper {
        .app-icon {
          font-size: 14px;
          color: rgba(29, 29, 32, 1);
        }
      }
    }
  }
}

.app-livelist.tag-list li.app-list-item {
  width: auto;
  padding: 8px 20px;
  min-height: 32px;
  border: 0.7px solid rgba(29, 29, 32, 1);
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.app-livelist.tag-list li.app-list-item + li.app-list-item {
  margin-left: 8px;
}

.carousel-list.app-livelist {
  .app-livelist-container {
    display: flex;
    gap: 12px;
    overflow: hidden;
    .app-list-item {
      .carousel-image {
        width: 210px;
        border-radius: 5px;
        height: 166px;
      }
    }
  }
  .app-datanavigator:has(li.disabled) {
    display: none;
  }
}
